<div class="col-lg-4">
	<div class="shadow-sm card">
		<div class="card-body">
			<div class="row">
				<div class="col">

					<h4 class="h6 fw-semibold">
						<span>{{ product.title }}</span>
					</h4>

					<div class="text fs-xs">
						{{ product.content }}
					</div>

					<p class="price">
						<span>{{ product.price }}</span>
					</p>

				</div>

				<div class="col-lg-auto">
					<button href="#" class="btn btn-outline-secondary bi bi-plus"></button>
				</div>
			</div>
		</div>
	</div>
</div>
