{# termékek #}
<div class="border" x-data="{ open: false }">

	<div @click="open = ! open" class="cursor-pointer">

		<div	class="flex justify-between px-5 py-3 font-semibold hover:bg-slate-100">
			<span class="tracking-widest uppercase">Pizza</span>
			<i class="bi" :class="!open ? 'bi-arrow-bar-down' : 'bi-arrow-bar-up'"></i>
		</div>

	</div>

	<div class="p-4 border-t" x-show="open">

		{% for product in products %}
			{% include 'partials/list/item.twig' %}
		{% endfor %}
	</div>

</div>