{% extends "base.twig" %}

{% block content %}
<section class="row">

  {# items #}
  <div class="col-lg">
    {% include 'partials/list/items.twig' with { 'products': products }  %}
  </div>

  {# kosár #}
  <div class="col-lg-3">
    {% include 'partials/list/cart.twig' %}
  </div>

</section>
{% endblock %}
